<section id="Our-value" class="section-custom">
  <!-- =============== container =============== -->
  <div style="text-align:center"><span class="custom-header">Our Value</span></div>
  <div style="text-align:center" class="mt-1">
    <span class="p-font">
      Day to day operations at calpyte is driven by our  esteemed values
    </span>
    </div>
    <div class="row1-container">
      <div class="box box-down cyan">
        <h3>CLIENT VALUE</h3>
        <p>
          We look to design service and products  that is worth to customers . And strive to deliver only the best solutions
        </p>
        <img src="https://assets.codepen.io/2301174/icon-supervisor.svg" alt="">
      </div>

      <div class="box red">
        <h3>
          ALWAYS LASTING IT SOLUTIONS
        </h3>
        <p>
          We never compromise when it comes to  quality and our solutions are easy to  use for end users
        </p>
        <img src="https://assets.codepen.io/2301174/icon-team-builder.svg" alt="">
      </div>

      <div class="box box-down blue">
        <h3>
          COST EFFICIENT AND VALUE DRIVEN PEOPLE
        </h3>
        <p>
          Calpyte offers  you  customized  and transparent pricing plans for your projects.
        </p>
        <p>
          Our dedicated team, being experts  at existing technologies,shows great interest in learning and updating themselves with modern technologies.
        </p>
        <img src="https://assets.codepen.io/2301174/icon-calculator.svg" alt="">
      </div>
    </div>
    <div class="row2-container">
      <div class="box orange">
        <h3>
          ONE TEAM
        </h3>
        <p>
          We conjointly work with client  as one team through out  the  project  and  transparency is achieved.
        </p>
        <img src="https://assets.codepen.io/2301174/icon-karma.svg" alt="">
      </div>
    </div>
    <!-- =============== container end =============== -->
</section>	
