<section id="about" class="section-custom" style="">
  <!-- =============== container =============== -->
  <div class="container">
    <div class="row about-custom">
      <div class="col-xs-12 col-sm-12 col-md-6 wow fadeInDown animated" data-wow-delay=".5s">
        <h2>About Us</h2>
        <p class="p-font">
          Calpyte  is a chennai based IT startup officially established as a private limited on 08th july 2021. We’re bootstrapped  and has shown good progress in earning profits. We focus on developing our own products, but at the same time we love to collaborate  with diverse industries to share our knowledge in helping them to develop their product and gain experience.
        </p>
        <p class="p-font">
          We would like to be known for our respected, encouraging and friendly environmental workspace filled with extremely talented and skilled young minds.
        </p>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 wow fadeInRight animated" data-wow-delay=".5s">
        <img src="assets/img/about-img.jpg" />
      </div>
    </div>
  </div>
  <!-- =============== container end =============== -->
</section>
