<section class="for-box section-custom">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-3 wow rotateInDownLeft animated" data-wow-delay=".1s">
        <div class="for-box-crecl">
          <i class="fa fa-home"></i>
        </div>
        <div class="clr1">
          <h2>
            WEB<br />DESIGN
          </h2>
        </div>
        <div class="wbox">
          <strong>sorem ipsum </strong>
          <p>
            Lorem ipsum dolor sit amet consectetur adipiscing elit. Vestibulum ac vehicula leo dulam
            nullam rhoncus tortor at dignissim vehicula.
          </p>
          <a href="#" class="clr1-a">+</a>
        </div>

      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 wow rotateInDownLeft animated" data-wow-delay=".2s">
        <div class="for-box-crecl">
          <i class="fa fa-code"></i>
        </div>
        <div class="clr2">
          <h2>
            WEB<br />DEVELOMENT
          </h2>
        </div>
        <div class="wbox">
          <strong>sorem ipsum </strong>
          <p>
            Lorem ipsum dolor sit amet consectetur adipiscing elit. Vestibulum ac vehicula leo dulam
            nullam rhoncus tortor at dignissim vehicula.
          </p>
          <a href="#" class="clr2-a">+</a>
        </div>

      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 wow rotateInDownRight animated" data-wow-delay=".3s">
        <div class="for-box-crecl">
          <i class="fa fa-rocket"></i>
        </div>
        <div class="clr3">
          <h2>
            PRINT<br />DESING
          </h2>
        </div>
        <div class="wbox">
          <strong>sorem ipsum </strong>
          <p>
            Lorem ipsum dolor sit amet consectetur adipiscing elit. Vestibulum ac vehicula leo dulam
            nullam rhoncus tortor at dignissim vehicula.
          </p>
          <a href="#" class="clr3-a">+</a>
        </div>

      </div>
      <div class="col-xs-12 col-sm-6 col-md-3 wow rotateInDownRight animated" data-wow-delay=".4s">
        <div class="for-box-crecl">
          <i class="fa fa-wifi"></i>
        </div>
        <div class="clr4">
          <h2>
            ONLINE<br />MARKITING
          </h2>
        </div>
        <div class="wbox">
          <strong>sorem ipsum </strong>
          <p>
            Lorem ipsum dolor sit amet consectetur adipiscing elit. Vestibulum ac vehicula leo dulam
            nullam rhoncus tortor at dignissim vehicula.
          </p>
          <a href="#" class="clr4-a">+</a>
        </div>

      </div>
    </div>
  </div>
</section>
