<section id="Services" class="section-custom">
  <!-- =============== container =============== -->
  <div class="container">
    <div class="row service-custom">
      <div class="col-xs-12 col-sm-12 col-md-6 wow fadeInLeft animated" data-wow-delay=".5s">
        <img src="assets/img/services-img.jpg" class="img-left" />
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 wow fadeInRight animated" data-wow-delay=".5s">
        <h2>Services</h2>
        <p class="p-font">Calpyte provides end to end ADM services on a wide range of technologies. Calpyte’s approach combines business experience with technology skills to facilitate effective delivery of solutions.</p>
      </div>

    </div>
  </div>
  <!-- =============== container end =============== -->
</section>	
